@main-width: 18rem;
@nav-height: 1.2rem;

.main {
  margin: .2rem auto 2rem auto;
  padding: .3rem;
  width: @main-width;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, .3);
  background-color: rgba(255,255,255,.8);
}

.nav {
  //display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: @nav-height;
  background-color: rgba(135, 206, 235,.6);
  //align-items: center;

  /*flex-start : 头部开始
    flex-end
    center
    space-around 评分剩余空间
    space-between 两边贴边,再平分剩余空间*/
  //justify-content: space-between;

  h1 {
    font-weight: 400;
    font-size: .8rem;
    line-height: @nav-height;
  }

  .left-nav {
    position: absolute;
    top: @nav-height / 2 - 0.5rem;
    height: 1rem;
    float: left;
    margin-left: .2rem;

  }

  .navbar ul{
    height: .7rem;
    line-height: .7rem;
    top: @nav-height / 2 - .35rem;
    right: 0;
    position: absolute;
    margin-right: .2rem;
    li {
      display: inline;
    }
  }
}


.navbar li > a > i {
  vertical-align: middle;
}

.navbar li > a > span {
  vertical-align: middle;
  font-size: .5rem;
}

.navbar li {
  line-height:.7rem;
  height: .7rem;
  margin: 0 .1rem;
  display: inline-block;
  //background-color: purple;
}


.banner {
  margin-top: @nav-height;
  height: 3.5rem;
  background-color: rgba(255,255,0,.7);

  h5 {
    text-align: center;
    line-height: 3.5rem / 5;
    font-size: .4rem;
  }
}

.side-ad {
  visibility: hidden;
  position: fixed;
  width: 3rem;
  height: 8rem;
  bottom: 2rem;
  background-color: green;
  padding: .2rem;
  box-shadow: 0 0 20px 10px rgba(0,0,0,.3);
}

.bottom-right-ad {
  visibility: hidden;
  position: fixed;
  bottom: 1.6rem;
  right: 0;
  width: 5rem;
  height: 5rem;
  background-color: red;
}

.bottom-ad {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.6rem;
  background-color: rgba(243,169,232,.7);

  h4 {
    text-align: center;
    line-height: 1.6rem;
  }
}

.left-ad {
  left: .3rem;
  background: linear-gradient(to bottom right,dodgerblue,hotpink);
  color: white;
  //right: 50%;
  //margin-right: @main-width / 2 + .5rem;
}

.right-ad {
  //left: 50%;
  //margin-left: @main-width / 2 + .5rem;
  right: .3rem;
  color: black;
  background: linear-gradient(to bottom left, lightseagreen, lime);
}