.register-main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: pink;*/
}

.register-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 300px;
    box-shadow: 0 0 4px 10px rgba(0,0,0,.3);
    padding: 5%;
}

.register-box h1 {
    margin-bottom: 40px;
    text-shadow: 60px -30px 5px black;
}