@import "common";

* {
  margin: 0;
  padding: 0;
  font-size: .3rem;
}

body {
  background: gray url("../img/bg.jpg") no-repeat fixed;
  background-size: 100% auto;
}


h1 {
  font-size: .9rem;
  text-align: center;
}

h2 {
  font-size: .8rem;
}

h3 {
  font-size: .7rem;
}

h4 {
  font-size: .6rem;
}

h5 {
  font-size: .5rem;
}

h6 {
  font-size: .4rem;
}

html {
  font-size: 24px;
}

@media screen and (min-width: 480px) {
  html {
    font-size: 36px;
  }
}

@media screen and (min-width: 900px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 50px;
  }
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  /*text-decoration: underline;*/
  color: dodgerblue;
}

.logo {
  display: block;
  background-image: url("../icon.png");
  background-repeat: no-repeat;
  background-size: .8rem;
  width: .8rem;
  height: .8rem;
  vertical-align: middle;
  margin: .1rem;
}

.fa--mid {
  vertical-align: middle;

}

.flashed-message {
  display: block;
  font-size: .36rem;
  margin: .2rem;
  padding: .4rem;
  background-color: white;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .5);
}

.message-info {
  background-color: deepskyblue;
}

.message-warn {
  background-color: yellow;
}

.message-error {
  background-color: red;
}

.message-success {
  background-color: springgreen;
}
