<html lang="zh">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    {% if title %}
        <title>{{ title }} - Blog</title>
    {% else %}
        <title>Welcome to blog</title>
    {% endif %}
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="nav">
    <nav class="left-nav">
        <span class="logo"></span>
    </nav>
    <h1>
        欢迎使用可Python云编程计算器
    </h1>
    <nav class="navbar">
        <ul >
            <li>
                <a href="{{ url_for('index') }}">
                    <i class="fa fa-home fa-2x"></i>
                    <span>主页</span>
                </a>
            </li>
            {% if current_user.is_anonymous %}
                <li>
                    <a href="{{ url_for('login') }}">
                        <i class="fa fa-sign-in fa-2x"></i>
                        <span>登录</span>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ url_for('explore') }}">
                        <i class="fa fa-cc-discover fa-2x"></i>
                        <span>发现</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('user',username=current_user.username) }}">
                        <i class="fa fa-user fa-2x"></i>
                        <span>我的</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">
                        <i class="fa fa-sign-out fa-2x"></i>
                        <span>登出</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</nav>
<div class="banner">
    <h5>
        你还在用树莓派zero羸弱的算力,0.5GHz主频的CPU,学习Python吗?<br>
        或者你还在用拉跨的一核/2G/1M的非独占云服务器学习Python吗?<br>
        赶快来加入年度黄金会员吧! 专用云服务器8核/16G/1T + 4路 TPU  <br>
        一家三口的日子,再精打细算,有关学习的事情,绝对不能省钱! <br> ----- 李华,18岁,大学生, 用花呗给女儿买了可Python云编程计算器和年度黄金会员<br>

    </h5>
</div>
<div class="main">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="flashed-message message-{{ message[0] }}">{{ message[1] }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>

<div class="side-ad left-ad">
    <h6>
        点击此处购买专属GPU订阅!<br>
        免费试用5天哦!<br>
        还有专属客服小姐姐996在线答疑!<br>
        听说 , 下雨天 , Python 人工智能学习和 专属GPU订阅更配哦!
        <br>
        点我订阅!只需188元/年!
        连续包年 , 首年打3折哦!
    </h6>
</div>
<div class="side-ad right-ad">
    <h6>
        CPU/内存升级版计算器云开发环境!
        <br>
        每G内存每年仅需10块钱!
        <br>
        10块钱, 你买不了吃亏 , 买不了上当 , 一顿饭的钱 , 带来数倍性能提升!
        <br>
        还犹豫什么? 赶快来点我购买!
        <br>
        另外 , 升级双路金至强CPU 每年100元起!
    </h6>
</div>
<div class="bottom-right-ad"></div>
<div class="bottom-ad">
    <h4>
        现在加入计算器年度黄金会员!!!只要888元. 立省80%! 新用户更享折上折! (内含 Minecraft Pi等多款游戏)
    </h4>
</div>
</body>
</html>