{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/user.css') }}">
{% endblock %}


{% block content %}
    <div class="user-profile clearfix">
        <div class="user-profile-avatar" style="background-image: url({{ user.avatar(128) }});"></div>
        <div class="user-profile-info">
            <h1>{{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p>最后在线时间: {{ user.last_seen }}</p>{% endif %}
            {% if user==current_user %}<p><a href="{{ url_for('edit_profile') }}">编辑</a></p>
            {% elif not current_user.is_following(user) %}
                <a class="post-head-act btn-follow" href="{{ url_for('follow',username=user.username) }}">关注</a>

            {% else %}<a class="post-head-act btn-unfollow"
                         href="{{ url_for('unfollow',username=user.username) }}">取关</a>
            {% endif %}
        </div>
    </div>

    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}